* {
	margin: 0;
	padding: 0;
}

.notice {
	font-size: 0.8em;
}

.scene {
	position: relative;
}

#parallax {
	width: 100%;
	height: 500px;
	border: 1px solid black;
}

#car,
.speedometer,
#parallax>div,
#wheel-back,
#wheel-front {
	position: absolute;
}

#parallax>div {
	width: 100%;
	height: inherit;
	background-size: contain;
}

#car {
	top: 347px;
	left: 50px;
}

#wheel-front {
	top: 40px;
	left: 198px;

}

#wheel-back {
	top: 39px;
	left: 49px;
}

#wheel-back,
#wheel-front {
	z-index: 0;
	transform: rotate(0deg);
}

.speedometer {
	width: 150px;
	right: 150px;
	bottom: 0;
	background: url(../img/speedMeter.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.speedometer>img {
	width: 100%;
}

#l1 {
	background: url(../img/layer_01_1920\ x\ 1080.png);
	background-position-x: 00px;
}

#l2 {
	background: url(../img/layer_02_1920\ x\ 1080.png);
	background-position-x: 110px;
}

#l3 {
	background: url(../img/layer_03_1920\ x\ 1080.png);
	background-position-x: 110px;
}

#l4 {
	background: url(../img/layer_04_1920\ x\ 1080.png);
	background-position-x: 110px;
}

#l5 {
	background: url(../img/layer_05_1920\ x\ 1080.png);
	background-position-x: 110px;
}